In [1]:
import sqlite3
import pandas as pd
import numpy as np
import mysql.connector as msql
from mysql.connector import Error

In [2]:
empdata = pd.read_csv('noc_regions.csv')
empdata1 = pd.read_csv('athlete_events.csv')
empdata = empdata.fillna("")
empdata1 = empdata1.fillna({'Height' : 0})
empdata1 = empdata1.fillna({'Weight' : 0})
empdata1 = empdata1.fillna({'Age' : 0})
empdata1 = empdata1.fillna({'Medal' : ""})

In [5]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='olympic_data_visualization', user='root', password='mysql')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        cursor.execute('DROP TABLE IF EXISTS noc_regions;')
        # in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE noc_regions(NOC varchar(45) NOT NULL,region varchar(45),notes varchar(45))")
        #loop through the data frame
        i = 0
        for row in empdata.iterrows():
            #here %S means string values 
            sql = ("INSERT INTO olympic_data_visualization.noc_regions(NOC, region, notes) " "VALUES (%s, %s, %s)")
            cursor.execute(sql, (empdata['NOC'][i], empdata['region'][i], empdata['notes'][i]))
            i = i+1
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

In [7]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='olympic_data_visualization', user='root', password='mysql')
    if conn.is_connected():
        cursor = conn.cursor(prepared=True)
        cursor.execute("select database();")
        record = cursor.fetchone()
        cursor.execute('DROP TABLE IF EXISTS athlete_events;')
        # in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE athlete_events(ID int, Name varchar(255), Sex varchar(10), Age float, Height float, Weight float, Team varchar(255), NOC varchar(255), Games varchar(255), Year int, Season varchar(255), City varchar(255), Sport varchar(255), Event varchar(255), Medal varchar(255))")
        #loop through the data frame
        i = 0
        for row in empdata1.iterrows():
            #here %S means string values 
            sql = ("INSERT INTO olympic_data_visualization.athlete_events(ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal) " "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)")
            cursor.execute(sql, (int(empdata1['ID'][i]), empdata1['Name'][i], empdata1['Sex'][i], float(empdata1['Age'][i]), float(empdata1['Height'][i]), float(empdata1['Weight'][i]), empdata1['Team'][i], empdata1['NOC'][i], empdata1['Games'][i], int(empdata1['Year'][i]), empdata1['Season'][i], empdata1['City'][i], empdata1['Sport'][i], empdata1['Event'][i], str(empdata1['Medal'][i])))
            i = i+1
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)